<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <script type="text/javascript">

            function createForm()
            {
                var dex = document.getElementById('dex_value').innerHTML;
                var str = document.getElementById('str_value').innerHTML;
                var wis = document.getElementById('wis_value').innerHTML;

                var form = 
                    '<form action="{{ path("character_attribute_update") }}" method="POST">'+
                    '<input type="hidden" name="dex" value="'+dex+'"/>'+
                    '<input type="hidden" name="str" value="'+str+'"/>'+
                    '<input type="hidden" name="wis" value="'+wis+'"/>'+
                    '<input type="submit" value="enter"/></form>'
                ;
                return form;
            }

            function changeDexAttr(operation)
            {
                var sp  = document.getElementById('sp').innerHTML;
                var dex = document.getElementById('dex_value').innerHTML;
                
                if(operation == 'add' && sp > 0)
                {
                    sp--;
                    dex++;
                }else if(operation == 'sub' && sp < {{ character.getSkillPoints() }} && dex > {{ character.getDex() }})
                {
                    sp++;
                    dex--;
                }

                document.getElementById('sp').innerHTML = sp;
                document.getElementById('dex_value').innerHTML = dex;

                if(sp == {{ character.getSkillPoints() }})
                {
                    var form = '';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('dex_decrease').innerHTML= '';
                }else
                {
                    //var path = {{ path('character_attribute_update') }};
                    var form = createForm();
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('dex_decrease').innerHTML =
                        '<button onclick="changeDexAttr'+"('sub');"+'" type="button"> - </button>';
                }
            }

            function changeStrAttr(operation)
            {
                var sp  = document.getElementById('sp').innerHTML;
                var str = document.getElementById('str_value').innerHTML;
                
                if(operation == 'add')
                {
                    if(sp > 0)
                    {
                        sp--;
                        str++;
                    }

                }else if(operation == 'sub' && sp < {{ character.getSkillPoints() }} && str > {{ character.getStr() }})
                {
                    sp++;
                    str--;
                }

                document.getElementById('sp').innerHTML = sp;
                document.getElementById('str_value').innerHTML = str;

                if(sp == {{ character.getSkillPoints() }})
                {
                    var form = '';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('str_decrease').innerHTML= '';
                }else
                {
                    //var path = {{ path('character_attribute_update') }};
                    var form = createForm();
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('str_decrease').innerHTML = 
                        '<button onclick="changeStrAttr'+"('sub');"+'" type="button"> - </button>';
                }
            }

            function changeWisAttr(operation)
            {
                var sp  = document.getElementById('sp').innerHTML;
                var wis = document.getElementById('wis_value').innerHTML;
                
                if(operation == 'add')
                {
                    if(sp > 0)
                    {
                        sp--;
                        wis++;
                    }

                }else if(operation == 'sub' && sp < {{ character.getSkillPoints() }} && wis > {{ character.getWis() }})
                {
                    sp++;
                    wis--;
                }

                document.getElementById('sp').innerHTML = sp;
                document.getElementById('wis_value').innerHTML = wis;

                if(sp == {{ character.getSkillPoints() }})
                {
                    var form = '';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('wis_decrease').innerHTML= '';
                }else
                {
                    //var path = {{ path('character_attribute_update') }};
                    var form = createForm();
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('wis_decrease').innerHTML =
                        '<button onclick="changeWisAttr'+"('sub');"+'" type="button"> - </button>';
                }
            }

        </script>

    </head>
    <body>
        <div class="character">
            Your character: <br>
            {{ character.name() }}
            <br>
            ----------------------------
            <div class="info">
                Hp:           {{ character.hp() }}
                <br>
                Level:        {{ character.lvl() }}   
                <br>
                Expirience:   {{ character.exp() }}    
                <br>
                Skill Points: <div id="sp" style="display: inline-block;">{{ character.getSkillPoints() }}</div>
                <br>
                ----------------------------
            </div>
            <div class="attributes">
                <br>
                <div id="str">
                    Strength:
                    <div id="str_value">{{ character.getStr() }}</div>
                    <div id="str_increase" style="display: inline-block;">
                        <button onclick="changeStrAttr('add');" type="button"> + </button>
                    </div>
                    <div id="str_decrease" style="display: inline-block;"></div>
                </div>
                <div id="dex">
                    Dexterity:
                    <div id="dex_value">{{ character.getDex() }}</div>
                    <div id="dex_increase" style="display: inline-block;">
                        <button onclick="changeDexAttr('add');" type="button"> + </button>
                    </div>
                    <div id="dex_decrease" style="display: inline-block;"></div>
                </div>
                <div id="wis">
                Wisdom:
                    <div id="wis_value">{{ character.getWis() }}</div>
                        <div id="wis_increase" style="display: inline-block;">
                            <button onclick="changeWisAttr('add');" type="button"> + </button>
                        </div>
                        <div id="wis_decrease" style="display: inline-block;"></div>
                </div>
                <div id="form" style="display: inline-block;"></div>
                <br>
                ----------------------------
            </div>
                <br><br>
            <div class="equipment">
                Equipment:
                <br><br>
                Weapon: {{ character.getWeapon().getName() }}
                <br>
                Damage: {{ character.getWeapon().getDmg() }}
                <br>
                Type: {{ character.getWeapon().getType()}}
                <br><br>
                Armor: {{ character.getArmor().getName() }}
                <br>
                Defense: {{ character.getArmor().getDef() }}
                <br>
                <br>
                <a href="{{ path('character_inventory') }}" role="button">Inventory</a>
                <br>
                ----------------------------
                <br>
            </div>

            END

            <div id="date"></div>
            <div id="result"></div>
            <button type="button">alert</button>

        </div>
    </body>
</html>