<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <script type="text/javascript">


            function changeDexAttr(operation)
            {
                var marker;
                var sp  = document.getElementById('sp').innerHTML;
                var dex = document.getElementById('dex').innerHTML;
                
                if(operation == 'add' && sp > 0)
                {
                    sp--;
                    dex++;
                }else if(operation == 'sub' && sp < {{ character.getSkillPoints() }} && dex > {{ character.getDex() }})
                {
                    sp++;
                    dex--;
                }

                document.getElementById('sp').innerHTML = sp;
                document.getElementById('dex').innerHTML = dex;

                if(sp == {{ character.getSkillPoints() }})
                {
                    var form = '';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('dex_decrease').innerHTML= '';
                }else
                {
                    //var path = {{ path('character_update') }};
                    var form = '<form action="{{ path("character_update") }}" method="POST"><input type="hidden" name="sp" value="'+sp+'"/><input type="hidden" name="dex" value="'+dex+'"/><input type="submit" value="enter"/></form>';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('dex_decrease').innerHTML= '<button onclick="changeStatsDex'+"('sub');"+'" type="button"> - </button>';
                }
            }

            function changeStrAttr(operation)
            {
                var marker;
                var sp  = document.getElementById('sp').innerHTML;
                var str = document.getElementById('str').innerHTML;
                
                if(operation == 'add')
                {
                    if(sp > 0)
                    {
                        sp--;
                        str++;
                    }

                }else if(operation == 'sub' && sp < {{ character.getSkillPoints() }} && str > {{ character.getStr() }})
                {
                    sp++;
                    str--;
                }

                document.getElementById('sp').innerHTML = sp;
                document.getElementById('str').innerHTML = str;

                if(sp == {{ character.getSkillPoints() }})
                {
                    var form = '';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('str_decrease').innerHTML= '';
                }else
                {
                    //var path = {{ path('character_update') }};
                    var form = '<form action="{{ path("character_update") }}" method="POST"><input type="hidden" name="sp" value="'+sp+'"/><input type="hidden" name="str" value="'+str+'"/><input type="submit" value="enter"/></form>';
                    document.getElementById('form').innerHTML = form;
                    document.getElementById('str_decrease').innerHTML= '<button onclick="changeStatsStr'+"('sub');"+'" type="button"> - </button>';
                }
            }

        </script>

    </head>
    <body>
        <div class="character">
            Your character: <br>
            {{ character.name() }}
            <br>
            ----------------------------
            <div class="info">
                Hp:           {{ character.hp() }}
                <br>
                Level:        {{ character.lvl() }}   
                <br>
                Expirience:   {{ character.exp() }}    
                <br>
                Skill Points: <div id="sp" style="display: inline-block;">{{ character.getSkillPoints() }}</div>
                <br>
                ----------------------------
            </div>
            <div class="stats">
                <br>
                Stats:
                <br>
                Strength:
                    <div id="str">{{ character.getStr() }}</div>
                        <div id="str_increase">
                            <button onclick="changeStatsStr('add', 'str');" type="button"> + </button>
                        </div>
                        <div id="str_decrease">
                            <button onclick="changeStatsStr('sub', 'str');" type="button"> - </button>
                        </div>
                Dexterity:
                    <div id="dex">{{ character.getDex() }}</div>
                        <div id="dex_increase" style="display: inline-block;">
                            <button onclick="changeStatsDex('add');" type="button"> + </button>
                        </div>
                        <div id="dex_decrease">
                            <button onclick="changeStatsDex('sub');" type="button" style="display: inline-block;"> - </button>
                        </div>
                Wisdom:
                    <div id="wis">{{ character.getWis() }}</div>
                        <div id="str_increase">
                            <button onclick="changeStatsStr('add');" type="button"> + </button>
                        </div>
                        <div id="str_decrease">
                            <button onclick="changeStatsStr('sub');" type="button"> - </button>
                        </div>
                    <div id="form">
                    </div>
                    <br>
                ----------------------------
            </div>
                <br><br>
            <div class="equipment">
                Equipment:
                <br><br>
                Weapon: {{ character.getWeapon().getName() }}
                <br>
                Damage: {{ character.getWeapon().getDmg() }}
                <br>
                Type: {{ character.getWeapon().getType()}}
                <br><br>
                Armor: {{ character.getArmor().getName() }}
                <br>
                Defense: {{ character.getArmor().getDef() }}
                <br>
                <br>
                <a href="{{ path('character_inventory') }}" role="button">Inventory</a>
                <br>
                ----------------------------
                <br>
            </div>

            END

            <div id="date"></div>
            <div id="result"></div>
            <button type="button">alert</button>

        </div>
    </body>
</html>